@import "common/var.less";
@import "common/mixin.less";

body {
    color: @baseColor;
    font-size: @fontSize;
    line-height: 1.6;
}
a {
    color: @baseColor;
    text-decoration: none;
    &:hover {
        color: @primaryColor;
        text-decoration: underline;
    }
}

/* box */
.box {
    margin-bottom: @space;
    .hd {
        margin: 0 0 @space;
        h2, h3 {
            float: left;
            font-size: @fontSize * 1.3;
            font-weight: normal;
        }
        .action {
            float: right;
        }
    }
}

/* top */
.top {

}

/* header */
.header {

}

/* mainnav */
.mainnav {

}

/* 面包屑导航 */
.breadcrumb {
}

/* footer */
.footer {

}
