@charset "utf-8";

$baseColor       : #333;
$linkColor       : #333;
$linkActiveColor : #36F;
$borderColor     : #e5e5e5;
$space           : 10px;
$wrapWith        : 960px;
$sideCol         : left;
$fontSize        : 14px;

// ---------- 开始 混合 -------------

// 兼容IE的半透明背景色解决方案
@mixin translucent ( $color, $a: 0.5 ) {
    background-color: rgba($color, $a);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#{ie_hex_str(rgba($color, $a))}, endColorstr=#{ie_hex_str(rgba($color, $a))});
}

// 三角箭头
@mixin arrow ( $direction, $width: 5px, $color: #ccc ) {
    content: "";
    width: 0;
    height: 0;
    border: $width solid transparent;
    border-#{$direction}: none;
    @if $direction == up {
        border-bottom-color: $color;
    } @else if $direction == down {
        border-top-color: $color;
    } @else if $direction == left {
        border-right-color: $color;
    } @else if $direction == right {
        border-left-color: $color;
    }
}
// 单行文本超出显示省略号
@mixin text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


// ---------- 结束 混合 -------------

/**
 * 全局通用样式
 */
body {
    color: $baseColor;
    font-size: $fontSize;
    background: #fff;
}
a {
    color: $linkColor;
    &:hover {
        color: $linkActiveColor;
        text-decoration: underline;
    }
}
/* 默认带下划线的链接 */
.u {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
/* box */
.box {
    margin-bottom: $space;
    border: 1px solid $borderColor;
    background: transparent;

    & > .hd {
        height: 35px;
        padding: $space;
        border-bottom: 1px solid $borderColor;
        .hd-title {
            float: left;
            font-size: 16px;
            font-weight: 700;
        }
        .action {
            float: right;
        }
    }
}

/**
 * 页面主体布局
 */
.row {
    width: $wrapWith;
    margin-left: auto;
    margin-right: auto;
    clear: both;

    & > .col-side {
        float: $sideCol;
    }

    & > .col-main {
        @if $sideCol == left {
            float: right;
        } @else if $sideCol == right {
            float: left;
        }
    }
}
